<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodesJs & MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officia rerum sapiente nihil vitae
        beatae eveniet atque, molestias voluptates impedit fugit ullam, similique aspernatur expedita, adipisci
        voluptatibus quidem. Incidunt, dolore.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo itaque corrupti iste architecto tenetur a vitae
        repellendus, maxime fuga odio suscipit eius praesentium quisquam error laudantium similique reiciendis expedita
        optio.</p>
    <a href="https://www.youtube.com" class="btn btn-primary">Youtube</a>
</div>